
.godot/uid_cache.bin
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.ctex
.godot/global_script_class_cache.cfg
.godot/editor/world.tscn-folding-89647171d5d7bdb8a088d65cc9aa3a3a.cfg
.godot/.gdignore
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/favorites
.godot/editor/favorites.Node
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/Player.gd-folding-f46bee2341f6f1525a3feb875bdb5a86.cfg
.godot/editor/Player.tscn-editstate-48b487cb3fbab0e0d627d8f8de2ba1d9.cfg
.godot/editor/Player.tscn-folding-48b487cb3fbab0e0d627d8f8de2ba1d9.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/world.gd-folding-5317666cbb04b951dde0d7115b3df24f.cfg
.godot/editor/world.tscn-editstate-76e0adcbc83681695885bae615f516ae.cfg
.godot/editor/world.tscn-editstate-89647171d5d7bdb8a088d65cc9aa3a3a.cfg
.godot/editor/world.tscn-folding-76e0adcbc83681695885bae615f516ae.cfg
.godot/editor/Pirates.gd-folding-3bb5f2ce4d39907cd02d7a7edd3efc97.cfg
.godot/editor/Pirates.tscn-editstate-639320a828df8aeb9d6231dab92fc374.cfg
.godot/editor/Pirates.tscn-folding-639320a828df8aeb9d6231dab92fc374.cfg
.godot/editor/Spawner.gd-folding-9586e9d87ff8edbb587685a3765a1664.cfg
.godot/editor/world.gd-folding-d9cbf4a1041b31a57eb6ad9d47a883c4.cfg
.godot/editor/Global.gd-folding-31fb0696573fb96209db19fc456fa721.cfg
.godot/editor/recent_dirs
.godot/editor/cannon.gd-folding-8cc5f13eaf13df577370ad64bcb0388e.cfg
.godot/editor/cannon.tscn-editstate-b7676ca39dbd6465908e997788ceb4b4.cfg
.godot/editor/cannon.tscn-folding-b7676ca39dbd6465908e997788ceb4b4.cfg
.godot/imported/Cannon.png-6fdba0dc37f2d0b2dcde37e83d8b049d.md5
.godot/imported/CannonBall.png-fa1a2e44d7eeb40df945f12d6a47c16e.ctex
.godot/imported/CannonBall.png-fa1a2e44d7eeb40df945f12d6a47c16e.md5
.godot/imported/New Piskel.png-e7abdf0782ae430b459d1776fc5ec800.ctex
.godot/imported/New Piskel.png-e7abdf0782ae430b459d1776fc5ec800.md5
.godot/imported/player.png-2dd0af52de4b213777cd8c9df94c0978.ctex
.godot/imported/player.png-2dd0af52de4b213777cd8c9df94c0978.md5
.godot/imported/player.png-f312c2b20749097671415ace428193ae.ctex
.godot/imported/player.png-f312c2b20749097671415ace428193ae.md5
