
.godot/uid_cache.bin
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.ctex
.godot/global_script_class_cache.cfg
.godot/editor/world.tscn-folding-89647171d5d7bdb8a088d65cc9aa3a3a.cfg
.godot/.gdignore
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/favorites
.godot/editor/favorites.Node
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/Player.gd-folding-f46bee2341f6f1525a3feb875bdb5a86.cfg
.godot/editor/Player.tscn-editstate-48b487cb3fbab0e0d627d8f8de2ba1d9.cfg
.godot/editor/Player.tscn-folding-48b487cb3fbab0e0d627d8f8de2ba1d9.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/world.gd-folding-5317666cbb04b951dde0d7115b3df24f.cfg
.godot/editor/world.tscn-editstate-76e0adcbc83681695885bae615f516ae.cfg
.godot/editor/world.tscn-editstate-89647171d5d7bdb8a088d65cc9aa3a3a.cfg
.godot/editor/world.tscn-folding-76e0adcbc83681695885bae615f516ae.cfg
